<% title="Patent Historical Data" %>
<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf8">
    <script type="text/javascript" src="/js/jquery-latest.js"></script>
	<script type="text/javascript">
	$(function() {
		var role = "<%= session[:user_level]  %>";
		if (role == "guest") {
			$("#frm_upcsv>p>a").attr("href", "javascript:void(0)");
			$("#frm_upcsv>p>a").attr("target", "_self");
			$("#frm_upcsv>p>a").click(function(){
                alert("Sorry, you don't have the permission to view log.");
                return false;
            });

            $("#btn_import").click(function() {
            	alert("Sorry, you don't have the permission to import data.");
        	});
		}
		else
		{
			$("#btn_import").click(function() {
            	$('#frm_upcsv').submit();
        	});
		}
	});
	</script>
<body>
    <h1>Import & Export CSV</h1>
    <p>
	    <form id="frm_upcsv" action="/upload" method="POST" enctype="multipart/form-data">
	    	<input id="btn_import" type="button" value="Import from CSV" />
	        <input style="margin-left:20px;" type="file" name="file" />
	    	<p>
		        <label style="color:red; margin-right:20px;"><%= @lbl_csv %></label>
		        <a href="/logs" target="_blank">View log for data import</a>
	    </form>

    <p>
	    <form action="/download/out_file" method="POST">
	        <input type="submit" value="Export to CSV" />
	    </form>

    <p>
    	<a href="/">Back to Index</a>
</body>
</html>