<p>
<form id="form2" action="/" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <table align="center" width="70%" border="1" cellpadding="0" cellspacing="0">
        <col style="width:25%"></col>
        <col style="width:25%"></col>
        <col style="width:25%"></col>
        <col style="width:25%"></col>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>
                Total patents in US&nbsp;&nbsp;
                <input id="btn_us" name="btn_us" style="width:50px" type="button" value="DESC" />    
            </th>
            <th>
                Total Patents in others&nbsp;&nbsp;
                <input id="btn_oth" name="btn_oth" style="width:50px" type="button" value="DESC" />
            </th>
        </tr>
        <% @patents.each do |patent| %>
        <tr>
            <td><%= patent.employee_id %></td>
            <td><%= patent.employee_name %></td>
            <td><%= patent.total_us %></td>
            <td><%= patent.total_others %></td>
        </tr>
        <% end %>
    </table>
</form>