<center><h3>Search</h3></center>
<form action="/" method="post">
    <center>
	<table width="60%" border="0" cellpadding="0" cellspacing="1">
        <col width="15%" />
        <col width="70%" />
        <col width="15%" />
        <tr>
            <td>Employee ID</td>
            <td>
                <input type="text" style="width:90%" value="001" />
            </td>
            <td>
                <button type="submit">search</button>
            </td>
        </tr>
        <tr>
            <td>Employee Name</td>
            <td>
                <input type="text" style="width:90%" value="Alan" />
            </td>
            <td>
                <button type="submit">search</button>
            </td>
        </tr>
    </table>
    </center>
</form>
