/*
 * css of index layout. 
*/
body {
    margin: 0px;
}

#base-header {
    margin: 0px;
    background: #fff url(../img/source_header.gif) repeat-x top;
    height: 1.0em;
}

.div_top {
    float: right;
    padding: 0.25em 1em;
    font-family: verdana, arial, sans-serif;
    font-size: small;
}

#div_ul {
    width: 120px;
    font-size: small;
    padding-top: 0.5em;
}
#div_ul ul {
    list-style-position: inside;
    list-style: square;
    padding-left: 0px;
    margin: 0 auto;
    text-align: left;
}
#div_ul li {
    width: 200px;
    margin-top: 0.2em;
}

#form1 {
    margin: 0 0px;
    text-align: center;
}

#base-footer {
    font-family: verdana, arial, sans-serif;
    font-size: x-small;
    border-top: 1px solid #888;
    margin: 1em auto 0 auto;
    padding: 1em;
    text-align: center;
}

#div2 {
    margin: 0 0px;
    min-height: 210px;
    /*height: auto !important;
    height: 210px;*/
}

#pagination {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font: normal 11px helvetica, verdana, arial,  sans-serif;
}

#pagination input {
    background-color: #000000;
    color: #00FF0C;
    padding: 0px;
    margin: 0px 10px 0px 0px;
    vertical-align: top;
    text-align: center;
    border-width: 0;
    font-size: 11px;
    width: 50px;
    height: 20px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#pagination select {
    vertical-align: top;
    height: 20px;
}

#pagination a {
    color: #00FF0C;
    background-color: #000;
    display: inline-block;
    margin-right: 10px;
    padding:  4px 10px;
    text-decoration: none;
    line-height: 1.0em;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#pagination a:hover {
    background-color: #BEBEBE;
    color: #fff;
}